.layout{
  display:grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "side mid"
  ;
  gap: 0.5rem;
  font-family: dheyo;
}

.sidebar{
  grid-area: side;
}

.mid{
  grid-area: mid;
}