
.courselayout{
    display:grid;
    height: 100vh;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas:
      "side mid"
    ;
    gap: 0.5rem;
    font-family: dheyo;
  }
  .coursesidebar{
    grid-area: side;
  }
  .coursemid{
    grid-area: mid;
  }
  